# dependencies
node_modules/

# environment files
.env

# build outputs
dist/
build/

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/

# misc
*.zip
*.exe
