# dependencies
node_modules/

# build outputs
dist/
build/

# environment variables
.env
.env.local
.env.development.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor directories and files
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db

# miscellaneous
*.zip
*.exe
*.log

# Optional: if backend + frontend in same repo
client/node_modules/
server/node_modules/
